* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(64, 16, 238);
  color: rgb(142, 84, 235);
  padding: 150px 150px;
}


h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.829);
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.911);

  font-weight: 100;
  text-align: center;
  font-size: 30px;
  background: #110f8b;
}
.field {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background: #310fb8;
}
.value {
  font-size: 80px;
  font-weight: 400;
  border-radius: 3px;
  background: #eff320;
}

.label {
  display: flex;
  padding-top: 5px;
  font-size: 15px;
}
.colon {
  font-size: 40px;
  font-weight: 400;
}